{% extends 'blog/base.html' %}

{% block title %}
<title>{{ category.name|capfirst }} | {{ request.get_host }}</title>
{% endblock %}

{% block content %}
  {% for post in page_obj %}
    <div class="content-row {% cycle 'odd' 'even' %}">
      <div class="content-image" style="background-image: url('{{ post.photo.first.image.url }}');">
        <a href="{% url 'blog:post_detail' post.slug %}" title="{{ post.title }}">
          <div class="content-date {% cycle 'left-date' 'right-date' %}">
            <p>{{ post.created_on|date:'d E Y' }}</p>
          </div>
        </a>
      </div>
      <div class="content-description">
        <div class="content-category">
          <span><a href="{% url 'blog:category' post.subcategory.category.slug %}">{{ post.subcategory.category }}</a></span>
        </div>
        <h2><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.description|truncatechars:300|capfirst }}</p>
        <a href="{% url 'blog:post_detail' post.slug %}" class="content-read">Czytaj dalej</a>
        <a href="{% url 'blog:post_detail' post.slug %}" class="content-comments"><i class="fa-solid fa-comments"></i>Komentarzy: 2</a>
      </div>
    </div>
  {% endfor %}


    <div class="pagination">
      <ul class="page-numbers">
        {% if page_obj.has_previous %}
          <li><a href="{% url 'blog:category' category.slug %}?page={{ page_obj.previous_page_number }}">&laquo; Poprzednia strona</a></li>
        {% endif %}

        {% for page_nr in page_range %}
          {% if page_nr == page_obj.paginator.ELLIPSIS %}
            <li><a class="inactive">{{ page_nr }}</a></li>
          {% elif page_nr == page_obj.number %}
            <li><a class="current">{{ page_nr }}</a></li>
          {% else %}
            <li><a href="{% url 'blog:category' category.slug %}?page={{ page_nr }}">{{ page_nr }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="{% url 'blog:category' category.slug %}?page={{ page_obj.next_page_number }}">Następna strona &raquo;</a></li>
        {% endif %}
      </ul>
    </div>
{% endblock %}
